# Python cache and bytecode
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and databases
*.log
*.sqlite3

# Operating system files
.DS_Store
Thumbs.db


raw_data/*



###
# git rm -r --cached .